<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Listado Clientes</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="listadoClientes" id="clientes">
            <div class="container">
                <div class="row py-4">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{cliente.titulo-lista}]]</h4>
                            </div>
                            <div th:if="${clientes != null and !clientes.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th th:text="#{cliente.nombre}">Nombre</th>
                                            <th th:text="#{cliente.cif}">CIF</th>
                                            <th th:text="#{cliente.responsable}">Responsable</th>
                                            <th th:text="#{cliente.email}">Email</th>
                                            <th th:text="#{cliente.acciones}">Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cliente, contador : ${clientes}">
                                            <td>[[${cliente.nombre}]]</td>
                                            <td>[[${cliente.cif}]]</td>
                                            <td>[[${cliente.responsable}]]</td>
                                            <td>[[${cliente.email}]]</td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/clientes/editar/} + ${cliente.idCliente}"
                                                    class="btn btn-secondary">
                                                       <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                                </a>
                                                <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/clientes/eliminar(idCliente=${cliente.idCliente})}"
                                                    class="btn btn-dark">
                                                       <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                            <!--
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/clientes/nueva_obra/} + ${cliente.idCliente}"
                                                   class="btn btn-secondary">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.nueva-obra}]]
                                                </a>
                                            </td>
                                            -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>  
                            <div class="text-center p-2" th:if="${clientes == null or clientes.empty}">
                                <span th:text="#{cliente.lista-vacia}">Lista vacía</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
