<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Datos de la Persona</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <h2>[[#{cliente.formulario}]]</h2>
        <a th:href="@{/clientes}">[[#{accion.regresar}]]</a>
        <br/>
        <form th:action="@{/clientes/guardar}" method="post" th:object="${cliente}">
            <input type="hidden" name="idCliente" th:field="*{idCliente}"/>
            <br/>
            <label for="nombre">[[#{cliente.nombre}]]:</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>
            <br/>
            <label for="cif">[[#{cliente.cif}]]:</label>
            <input type="text" name="apellido" th:field="*{cif}"/>
            <span th:if="${#fields.hasErrors('cif')}" th:errors="*{cif}">Error CIF</span>
            <br/>
            <label for="responsable">[[#{cliente.responsable}]]:</label>
            <input type="text" name="apellido" th:field="*{responsable}"/>
            <span th:if="${#fields.hasErrors('responsable')}" th:errors="*{responsable}">Error Responsable</span>
            <br/>
            <label for="email">[[#{cliente.email}]]:</label>
            <input type="text" name="email" th:field="*{email}"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error Email</span>
            <br/>
            <input type="submit" name="guardar" th:value="#{accion.guardar}"/>
        </form>
        
        <footer th:replace="layout/plantilla :: footer"></footer>
        
    </body>
</html>
